/* shared related style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background: #E55473;
    padding: 10px 15px;
    border-radius: 5px;
    border-style: none;
    color: #FFF;
}

/* header related style */
header>section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;

    background: rgba(229, 84, 115, 0.10)
}

.head-image {
    height: 420px;
    padding: 33px 80px 0px 5px;

}

.flower-heading {
    margin-left: 100px;
    gap: 10px;



}

section>div>h3 {
    color: #272727;
    font-weight: 800;
    font-size: 30px;
}

section>div>p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

/* main related style */
/* hot deal related style */
.hot-deal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    height: 250px;
    margin-top: 30px;
}

.hot-deal-img {
    height: 150px;
    padding: 20px 80px 20px 100px;
}

.off {
    color: #E55473;
}

.hot-title {
    color: #272727;
    text-align: center;
    font-size: 20px;
}

.hot-details {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;

}

.btn-hot {
    margin-left: 180px;
}

/* social section */
.social-title {
    color: #272727;
    text-align: center;
    font-size: 25px;
}

.social-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
}

.social {
    margin-top: 60px;
}

.social-img {
    height: 240px;
    margin-left: 8px;
    border-radius: 5px;
}

.social-img-box {
    margin: 30px 100px 20px 100px;
}

/* deals related style */
.deals {
    background-image: url("../image/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 870px;
    height: 275px;
    margin: 60px 116px 20px 108px;

    .deals-title {
        text-align: center;
        color: #272727;
        font-size: 25px;
        font-weight: 800;
        padding-top: 80px;

    }

    .deals-offer {
        color: rgba(39, 39, 39, 0.60);
        text-align: center;
        font-size: 10px;
        padding-top: 0px;
    }
    .amount{
        font-size: 13px;
    }
    .deals-input{
        margin-left: 170px;
    }
    .deals-mail{
        background: #FFF;
        height: 35px;
        width: 430px;
        border-radius: 7px;
        border-style: none;
    }